.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  margin-bottom: 120px;
}

.footer h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  line-height: 2.375rem;
}

.projetos h4 {
  margin-top: 100px;
}

.projetos span {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-top: 4px;
}

.projetosLista {
  font-family: "Roboto", sans-serif;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 12px;
}


.projetosLista li a {
  padding: 12px;
  display: block;
  /* background: linear-gradient(#eeeeee, #dddddb); */
  background-color: #2E394C;
  color: #EDF3F7;
  /* box-shadow: 1px 2px 4px #4f607e; */
  box-shadow: 0px 2px 2px #566683a1;
  border-radius: 4px;
}

.projetosLista li a:hover {
  transform: scale(1.1);
}

.habilidades h4 {
  margin-top: 60px;
}

.habilidadesLista {
  margin-top: 22px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.habilidadesLista li {
  font-family: "Roboto", sans-serif;
  padding: 12px;
  background-color: #b6bdc9;
  border-radius: 4px;
  color: #2E394C;
}


@media(max-width:800px) {
  .footer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px;
  }

  .footer h4 {
    text-align: center;
  }

  .projetos h4 {
    margin-top: 32px;
  }

  .projetos span {
    text-align: center;
    font-size: 0.9rem;
  }

  .projetosLista li:last-child {
    display: none;
  }

  .projetosLista li a:hover {
    transform: none;
  }

  .projetosLista {
    flex-direction: column;
  }

  .projetos ul {
    text-align: center;
  }

  .habilidades h4 {
    margin-top: 32px;
  }

  .habilidades ul {
    text-align: center;
  }

}

@media(max-width:600px) {
  .footer h4 {
    font-size: 1.75rem;
  }

  .projetos {
    padding: 32px 32px 30px 32px;
  }

  .habilidades {
    padding: 30px 32px 32px 32px;
  }

  .projetosLista {
    gap: 22px;
  }
}