:root {
  --corFundo1: #DDDDDB;
  --corFundo2: #ffffff;
  --corTexto1: #787878;
  --corTexto2: #000000;
  --corDetalhe1: #d9d9d9;
  --corDetalhe2: #c1c1c1;
}

/* ----ESTILOS GLOBAIS--------- */
body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
ul {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  height: 32px;
  width: 32px;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
}

@media (max-width:800px) {
  .introducao {
    order: 4;
  }
}

.js .jsScroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .3s;
}

.js .jsScroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: .3s;
}