:root {
  --corFundo1: #DDDDDB;
  --corFundo2: #ffffff;
  --corTexto1: #787878;
  --corTexto2: #131313;
  --corDetalhe1: #d9d9d9;
  --corDetalhe2: #c1c1c1;
  --corP0: #010038;
  --corP1: #293A80;
  --corP2: #537EC5;
  --corP3: #F39422;
}

@media (prefers-color-scheme: light) {
  :root {
    --corFundo2: #010038;
    --corFundo1: #293a80;
    --corTexto2: #dddddb;
    --corP2: #f39422;
    --corDetalhe1: #f39422;
    --corDetalhe2: #f39422;
  }
}

/* ----ESTILOS GLOBAIS--------- */
body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
ul {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
}

.main img,
.secundarioDiv img {
  width: 32px;
  height: 32px;
}

a {
  text-decoration: none;
  color: var(--corP2);
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
}

@media (max-width:800px) {
  .introducao {
    order: 4;
  }
}