.headerBg {
  background-color: var(--corFundo1);
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  color: var(--corTexto2);

}

.headerSpan1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
}

.headerSpan2 {
  font-family: "Croissant One", cursive;
  font-size: 2rem;
  margin-top: 4px;
  position: relative;
}

.headerSpan2::before {
  content: "";
  display: inline-block;
  width: 360px;
  height: 1px;
  background-color: var(--corTexto1);
  position: absolute;
  top: 22px;
  left: -132px;
}


.headerTitulo {
  font-family: "Croissant One", cursive;
  font-size: 3.75rem;
  margin-top: 4px;
}

.headerTitulo span {
  color: var(--corTexto1);
}

@media (max-width: 800px) {
  .headerTitulo {
    font-size: 3rem;
  }

  .headerSpan1 {
    font-size: 1.2rem;
  }

  .headerSpan2 {
    font-size: 1.5rem;
  }

  .headerSpan2::before {
    top: 16px;
  }
}

@media (max-width:600px) {
  .header {
    padding: 40px 0;
  }

  .headerSpan2::before {
    width: 340px;
  }
}

@media (max-width:400px) {
  .headerTitulo {
    font-size: 2rem;
  }

  .headerSpan1 {
    font-size: 1.1rem;
  }

  .headerSpan2 {
    font-size: 1.2rem;
  }

  .headerSpan2::before {
    top: 12px;
    width: 320px;
  }
}