.introducao {
  background-color: var(--corFundo1);
}

.introducaoDiv {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
}

.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 42px;
  animation: is-show 0.8s ease forwards;
}

.contato h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.875rem;
  /*30px*/
  line-height: 2.375rem;
  /*38px*/
  color: var(--corTexto2);
  font-weight: 400;
}

.contato h2::after {
  content: "";
  display: block;
  background-color: var(--corTexto2);
  height: 1px;
  /*16px*/
}

.socialTitulo {
  margin-top: 60px;
}

.contatoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.contatoItem span {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 22px;
  max-width: 22ch;
  text-align: center;
  font-size: 1rem;
  /* 16px */
  line-height: 1.5rem;
  /*24px */
}

.contatoItem a {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 10px;
  max-width: 22ch;
  text-align: center;
  font-size: 1rem;
  /* 16px*/
  line-height: 1.5rem;
  /* 24px */
  color: var(--corTexto2);
  padding: 12px;
}

.contatoItem a:hover {
  transform: scale(1.1);
}

.contatoItem img {
  height: 32px;
  width: 32px;
}

.contatoItem:last-child {
  margin-bottom: 96px;
}

/* -------------------------- EXPERIENCIA ------------------------- */

.experienciaBg {
  background-color: var(--corFundo2);
  box-shadow: 700px 0px 0 var(--corFundo2);
}

.experienciaDiv {
  margin-top: 42px;
  margin-left: 42px;
  margin-right: 4px;
  font-family: "Roboto", sans-serif;
  opacity: 0;
  animation: is-show 0.8s ease forwards 0.12s;
}

.experienciaTitulo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.75rem;
  /*28px */
  color: var(--corTexto1);
  position: relative;
}

.experienciaTitulo::before {
  content: '';
  display: block;
  height: 2px;
  width: 22px;
  background-color: var(--corDetalhe1);
  position: absolute;
  top: 10px;
  left: -28px
}

.experienciaConteudo {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.experienciaConteudo:last-child {
  margin-top: 140px;
}

.experienciaConteudo h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  /*32px*/
  line-height: 2.375rem;
  /*38px*/
  color: var(--corTexto2);
  margin-top: 22px;
}

.experienciaConteudo p {
  margin-top: 8px;
  font-size: 1rem;
  /*16px*/
  line-height: 1.5;
  max-width: 56ch;
  grid-column: 1;
  margin-left: 32px;
}

.experienciaEmpresa {
  display: flex;
  flex-direction: column;
  place-self: start-end;
  text-align: end;
  position: relative;
}

.empresaAno {
  color: var(--corTexto1);
  font-size: 0.75rem;
  /*12px*/
  line-height: 1.5rem;
  /*24px*/
}

.empresa {
  color: var(--corTexto2);
  font-size: 1rem;
  /*16px*/
  line-height: 1.5rem;
  /* 24px */
}

/* RESPONSIVO EXPERIENCIA */
@media (max-width: 800px) {
  .introducaoDiv {
    grid-template-columns: 1fr;
  }

  .experienciaBg {
    grid-row: 1;
  }

  .experienciaDiv {
    margin: 42px;
  }

  .experienciaConteudo {
    grid-template-columns: 1fr;
  }

  .experienciaEmpresa {
    place-self: start;
    text-align: start;
    margin-top: 12px;
    margin-left: 32px;
  }
}

@media (max-width:600px) {
  .experienciaTitulo {
    font-size: 1.5rem;
  }

  .experienciaConteudo h4 {
    font-size: 1.75rem;
  }
}

@media (max-width:400px) {
  .experienciaTitulo {
    font-size: 1.3rem;
  }

  .experienciaConteudo h4 {
    font-size: 1.5rem;
    margin-top: 18px;
  }

  .experienciaConteudo p {
    margin-left: 22px;
  }

  .experienciaDiv {
    margin: 32px;
  }

  .experienciaConteudo:last-child {
    margin-top: 80px;
  }
}

/* RESPONSIVO CONTATO/SOCIAL */

@media (max-width:800px) {
  .contatoItem a {
    background-color: #0076b549;
    box-shadow: 2px 2px 2px var(--corDetalhe2);
    border-radius: 4px;
  }

  .contatoItem a:hover {
    text-shadow: none;
  }
}

@media (max-width: 600px) {
  .contato h2 {
    font-size: 1.675rem;
  }
}

@media (max-width: 400px) {

  .contato span,
  .contato a {
    font-size: 0.93rem;
  }
}


@keyframes is-show {
  to {
    opacity: 1;
    transform: translateX(0px);
  }

  from {
    opacity: 0;
    transform: translateX(-20px);
  }
}