[submodule "bikcraft"]
	path = bikcraft
	url = https://github.com/julioeler/bikcraft.git

[submodule "cssflexbox"]
	path = cssflexbox
	url = https://github.com/julioeler/cssflexbox.git

[submodule "modulocar"]
	path = modulocar
	url = https://github.com/julioeler/modulocar.git
