.footer {
  padding-bottom: 20px;
  background-color: var(--corFundo2);
  color: var(--corTexto2);
}

.footer h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  line-height: 2.375rem;
  text-align: center;
}

.projetos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projetosLista {
  display: flex;
  margin-top: 40px;
  padding: 32px;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  font-family: "Roboto", sans-serif;
}

.projetoDiv {
  height: 302px;
  width: 202px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
}

.projetoDiv::before {
  content: '';
  width: 100px;
  height: 130%;
  position: absolute;
  left: 50px;
  top: -20px;
  animation: rotateBorder 3s linear infinite;
}

.projetoDiv::after {
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 190px;
  height: 290px;
  position: absolute;
  right: 6px;
  top: 6px;
}

.projetoDiv:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.projeto1 {
  background-color: #0D5131;
}

.projeto1::before {
  background-image: linear-gradient(180deg, #ffffff, #378560);
}

.projeto1::after {
  background-image: url('../arquivos/ImagemfundoIPB.jpg');
}


.projeto2 {
  background-color: #FFBB00;
}

.projeto2::before {
  background-image: linear-gradient(180deg, #787878, #332200);
}

.projeto2::after {
  background-image: url('../arquivos/nimbus2fundo.jpg');
}


.projeto3 {
  background-color: #2C70FF;
}

.projeto3::before {
  background-image: linear-gradient(180deg, #ffffff, #00226b);
}

.projeto3::after {
  background-image: url('../arquivos/produtos3Fundo.jpg');
}

.projeto4 {
  background-color: #B6BAE4;
}

.projeto4::before {
  background-image: linear-gradient(180deg, #ffffff, #5863C5);
}

.projeto4::after {
  background-image: url('../arquivos/lobo.jpg');
}
.projeto5 {
  background-color: #000000;
}

.projeto5::before {
  background-image: linear-gradient(180deg, #ffffff, #333333);
}

.projeto5::after {
  background-image: url('../../modulocar/imagens/icones/favicon.svg');
}

.projetoConteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: translateY(40px);
  position: absolute;
  bottom: -10px;
  left: 20px;
  right: 20px;
  color: #ffffff;
  transition: opacity 0.2s, transform 0.3s;
  background-color: #000000af;
  padding: 12px;
  border-radius: 4px;
  transition: 0.2s;
  z-index: 1;
}


.projetoConteudo span {
  font-weight: bold;
  display: block;
  font-size: 1rem;
  margin-bottom: 20px;
}

.projetoConteudo a {
  text-decoration: none;
  font-weight: 600;
  background: #ffffff;
  color: #000000;
  padding: 5px 15px;
  border-radius: 5px;
  display: inline-block;
}

.projetoDiv:hover .projetoConteudo,
.projetoDiv.ativo .projetoConteudo{ 
  transform: translateY(-40px);
  transition: opacity 0.2s, transform 0.3s cubic-bezier(.46, -0.74, .66, 1.65);
  z-index: 1;
}

.projetos h4 {
  margin-top: 100px;
}

.habilidades {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin-top: 60px;
}


.habilidadesLista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.habilidadeContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}


.habilidadesLista span {
  display: inline-block;
}

.habilidades h4 {
  text-align: center;
  margin-bottom: 42px;
}


.progressBar {
  width: 300px;
  height: 22px;
  background-color: #dddddd;
  border-radius: 6px;
}


.habilidade1 .progress {
  max-width: 300px;
  width: 80%;
  height: 22px;
  background-color: var(--corP2);
  border-radius: 6px;
}

.habilidade2 .progress {
  max-width: 300px;
  width: 80%;
  height: 22px;
  background-color: var(--corP2);
  border-radius: 6px;

}

.habilidade3 .progress {
  max-width: 300px;
  width: 70%;
  height: 22px;
  background-color: var(--corP2);
  border-radius: 6px;
}

.habilidade4 .progress {
  max-width: 300px;
  width: 70%;
  height: 22px;
  background-color: var(--corP2);
  border-radius: 6px;
}

.habilidade5 .progress {
  max-width: 300px;
  width: 70%;
  height: 22px;
  background-color: var(--corP2);
  border-radius: 6px;
}

.habilidade6 .progress {
  max-width: 300px;
  width: 70%;
  height: 22px;
  background-color: var(--corP2);
  border-radius: 6px;
}


.copy {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  font-family: "Josefin Sans";
  gap: 120px;
  margin-top: 40px;
}

.copy a:hover {
  transform: scale(1.1);
  color: #000;
}



@media(max-width:800px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer h4 {
    text-align: center;
  }

  .projetos {
    display: block;
  }

  .projetos h4 {
    margin-top: 32px;
  }

  .projetos span {
    text-align: center;
    font-size: 0.9rem;
  }


  .projetos ul {
    text-align: center;
  }

  .habilidades h4 {
    margin-top: 32px;
  }

  .habilidades ul {
    text-align: center;
  }

  .copy p {
    display: none;
  }
}

@media(max-width:600px) {
  .footer h4 {
    font-size: 1.75rem;
  }

  .projetos {
    padding: 32px 32px 30px 32px;
  }

  .habilidades {
    padding: 30px 32px 32px 32px;
  }

  .projetosLista {
    gap: 22px;
  }
}


@keyframes rotateBorder {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}