body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#bodyBg {
  background-image: linear-gradient(-45deg, #87CEEB, #6CA6CD, #4169E1, #000080);
  background-repeat: no-repeat;
  background-size: 300% 300%;
  font-family: sans-serif;
  animation: gradient 10s ease infinite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.mainText {
  width: 250px;
}

.mainText p {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  width: 248px;

  animation: typing 1.5s steps(10), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

.main img {
  animation: is-bouncing 1s ease alternate infinite;
}

a {
  border: none;
  padding: 1rem 4rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #dbdbdb;
  color: #000000;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
}

a::before {
  content: "";
  background-image: url('../arquivos/icons8-arrow-ios-16-filled/icons8-arrow-back-50.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 24px;
  transition: transform 0.3s;
}

a:hover::before {
  transform: translateX(-4px);
}

.box {
  width: 32px;
  height: 32px;
  border: 8px solid yellow;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* @keyframes is-bouncing {
  to {
    transform: translateY(30px)
  }
} */

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}